{% extends 'base.html' %} {% load bootstrap4 %} {% block content %}
<div class="container-fluid" style="margin-top: 10%; margin-bottom:5%;">
    <div class="row">
        <div class="col-md-8 er">
            <form action="{% url 'postImage' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %} {% bootstrap_form form %}
                <input type="submit" class="btn btn-primary btn-lg" value="POST">
            </form>
        </div>
    </div>
    <hr>
    <footer>
        <h4 class="text-center copy">&copy; branTech -2019</h4>
    </footer>
</div>
{{ form.media }} {% endblock %}